
@model IEnumerable<MemoryCard.Models.Card>

<p>
    @Html.ActionLink("Create New", "Enroll")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SideOne)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SideTwo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SideOne)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SideTwo)
            </td>
            <td></td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CardID }) |
                @Html.ActionLink("Details", "Details", new { id = item.CardID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CardID })
            </td>
        </tr>
    }

</table>